<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width = device-width" />
</head>
<body>
    @Html.ActionLink("Home", "Index", "Home", new { }, new { })
    @Html.ActionLink("About", "About", "Home", new { }, new { })
    @Html.ActionLink("Books", "Books", "Home", new { }, new { })
    @Html.ActionLink("People", "Person", "Home", new { }, new { })


    <div>
        @RenderBody()
    </div>
</body>
</html>
