@using EFitnessMonitoring.Models

@model  DomeniuSport
<div class="header2" id="header">
    <div class="header-logo-outs">
        <div class="container-fluid">
            <!--//navigation section -->
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="hedder-up ">
                    <h1><a class="navbar-brand" href="/Home/index" data-aos="fade-right">EMF</a></h1>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" data-aos="fade-left">
                    <ul class="navbar-nav">

                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a href="/Auth/GetUsers" class="nav-link">AdminMode</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a href="/Antrenor/GetCardProduct" class="nav-link">Produse</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Antrenor/Atrenamente/" class="nav-link">Fitness</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/About" class="nav-link">Despre</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/Galerie" class="nav-link">Galerie</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Calculator/Calculator" class="nav-link">Calculator</a>
                        </li>
                       
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="/Auth/Logout" class="nav-link">Logout</a>
                            }
                            else
                            {
                                <a href="/Auth/Login" class="nav-link">Login</a>
                            }
                        </li>
                    </ul>
                </div>
            </nav>
            <!--//navigation section -->
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

@*@Html.DisplayFor(m => m.Nume_exercitiu)
<br />
<img src="@Html.DisplayFor(m => m.Image)" />
<br />
<img src="@Html.DisplayFor(m => m.Descriere)" />*@

<div class="row">
    <div class="centercolumn">
        <div class="kard">
            <h2>@Model.Nume_exercitiu</h2>
            <div>
                <img class=" fakeimg" src="@Html.DisplayFor(m => m.Image)" />
            </div>
            <div>
               @Html.Raw(Model.Descriere)
            </div>
            <br />

        </div>
    </div>
    </div>
    <br /><br /><br /><br /><br />
